<div class="menu-container">
  <button *ngIf="ovajKorisnik.korisnik.uloga === 'Gost'" mat-button (click)="NaLandingPage()">
    <div class="navigation">
      <mat-icon>arrow_back</mat-icon>
      <span>Nazad na početnu stranicu</span>
    </div>
  </button>
  <div class="options">
    <button mat-button disabled class="sectionName" id="opcenito">OPĆENITO</button>
    <button mat-button class="buttonEnableNav" id="mojProfilButton" routerLink="mojProfil" routerLinkActive="active">Moj Profil</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga === 'Vlasnik'" mat-button class="buttonEnableNav" routerLink="mojiObjekti">Moji objekti</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga === 'Vlasnik'" mat-button class="buttonEnableNav" routerLink="dodajHotel">Dodaj hotel</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga !== 'Admin'" mat-button class="buttonEnableNav" routerLink="mojeRezervacije">Moje rezervacije</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga !== 'Admin'" mat-button class="buttonEnableNav" routerLink="mojeRecenzije">Moje recenzije</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga === 'Gost'" mat-button class="buttonEnableNav" routerLink="kreditnaKartica">Povežite kreditnu karticu</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga === 'Admin'" mat-button class="buttonEnableNav" routerLink="zahtjevi">Zahtjevi za odobravanje hotela</button>
    <br>
    <button mat-button disabled class="sectionName">POSTAVKE</button>
    <button mat-button class="buttonEnableNav" routerLink="promijeniLozinku">Promijeni lozinku</button>
    <button mat-button class="buttonEnableNav" (click)="Logout()">Odjavi se</button>
  </div>
</div> 


<!-- <div class="menu-container">
  <button *ngIf="ovajKorisnik.korisnik.uloga === 'Gost'" mat-button (click)="NaLandingPage()">
    <div class="navigation">
      <mat-icon>arrow_back</mat-icon>
      <span>Nazad na početnu stranicu</span>
    </div>
  </button>
  <div class="options">
    <button mat-button disabled class="sectionName" id="opcenito">OPĆENITO</button>
    <button mat-button id="mojProfilButton"
        [routerLink]="['mojProfil']"
        routerLinkActive="active"
        [ngClass]="{ active: activeButton === 'mojProfilButton' }">Moj Profil</button>
    <button mat-button id="mojiObjektiButton"
        [routerLink]="['mojiObjekti']"
        (click)="activeButton = 'mojiObjektiButton'"
        [ngClass]="{ active: activeButton === 'mojiObjektiButton' }">Moji Objekti</button>
    <button mat-button id="dodajObjekatButton"
        [routerLink]="['dodajObjekat']"
        (click)="activeButton = 'dodajObjekatButton'"
        [ngClass]="{ active: activeButton === 'dodajObjekatButton' }">Dodaj Hotel</button>
    <button mat-button id="mojeRezervacijeButton"
        [routerLink]="['mojeRezervacije']"
        (click)="activeButton = 'mojeRezervacijeButton'"
        [ngClass]="{ active: activeButton === 'mojeRezervacijeButton' }">Moje Rezervacije</button>
    <button mat-button id="mojeRecenzijeButton"
        [routerLink]="['mojiObjekti']"
        (click)="activeButton = 'mojeRecenzije'"
        [ngClass]="{ active: activeButton === 'mojeRecenzijeButton' }">Moje Recenzije</button>
    <button mat-button id="kreditnaKarticaButton"
        [routerLink]="['kreditnaKartica']"
        (click)="activeButton = 'kreditnaKarticaButton'"
        [ngClass]="{ active: activeButton === 'kreditnaKarticaButton' }">Povežite kreditnu karticu</button>
    <button mat-button id="zahtjeviButton"
        [routerLink]="['zahtjevi']"
        (click)="activeButton = 'zahtjeviButton'"
        [ngClass]="{ active: activeButton === 'zahtjeviButton' }">Zahtjevi za odobravanje hotela</button>
    <br>
    <button mat-button disabled class="sectionName">POSTAVKE</button>
    <button mat-button id="promijeniLozinkuButton"
        [routerLink]="['promijeniLozinku']"
        (click)="activeButton = 'promijeniLozinkuButton'"
        [ngClass]="{ active: activeButton === 'promijeniLozinkuButton'}">Promijeni lozinku</button>
    <button mat-button class="buttonEnableNav" (click)="Logout()">Odjavi se</button>
  </div>
</div> -->

<!-- 
<div class="menu-container">
  <button *ngIf="ovajKorisnik.korisnik.uloga === 'Gost'" mat-button (click)="NaLandingPage()">
    <div class="navigation">
      <mat-icon>arrow_back</mat-icon>
      <span>Nazad na početnu stranicu</span>
    </div>
  </button>
  <div class="options">
    <button mat-button disabled class="sectionName" id="opcenito">OPĆENITO</button>
    <button class="buttonEnableNav" mat-button [disabled]="isActive('/mojProfil')" [routerLink]="['mojProfil']">Moj Profil</button>
    <button class="buttonEnableNav" mat-button [disabled]="isActive('/mojiObjekti')" [routerLink]="['mojiObjekti']" *ngIf="ovajKorisnik.korisnik.uloga === 'Vlasnik'">Moji objekti</button>
    <button class="buttonEnableNav" mat-button [disabled]="isActive('/dodajObjekat')" [routerLink]="['dodajObjekat']" *ngIf="ovajKorisnik.korisnik.uloga === 'Vlasnik'">Dodaj hotel</button>
    <button class="buttonEnableNav" mat-button [disabled]="isActive('/mojeRezervacije')" [routerLink]="['mojeRezervacije']" *ngIf="ovajKorisnik.korisnik.uloga !== 'Admin'">Moje rezervacije</button>
    <button class="buttonEnableNav" mat-button [disabled]="isActive('/mojeRecenzije')" [routerLink]="['mojeRecenzije']" *ngIf="ovajKorisnik.korisnik.uloga !== 'Admin'">Moje recenzije</button>
    <button class="buttonEnableNav" mat-button [disabled]="isActive('/kreditnaKartica')" [routerLink]="['kreditnaKartica']" *ngIf="ovajKorisnik.korisnik.uloga === 'Gost'">Povežite kreditnu karticu</button>
    <button class="buttonEnableNav" mat-button [disabled]="isActive('/zahtjevi')" [routerLink]="['zahtjevi']" *ngIf="ovajKorisnik.korisnik.uloga === 'Admin'">Zahtjevi za odobravanje hotela</button>
    <button mat-button disabled class="sectionName">POSTAVKE</button>
    <button class="buttonEnableNav" mat-button [disabled]="isActive('promijeniLozinku')" [routerLink]="['promijeniLozinku']">Promijeni lozinku</button>
    <button class="buttonEnableNav" mat-button (click)="Logout()">Odjavi se</button>
  </div>
</div> -->




<!-- 
<div class="menu-container">
  <button *ngIf="ovajKorisnik.korisnik.uloga === 'Gost'" mat-button (click)="NaLandingPage()">
    <div class="navigation">
      <mat-icon>arrow_back</mat-icon>
      <span>Nazad na početnu stranicu</span>
    </div>
  </button>
  <div class="options">
    <button mat-button disabled class="sectionName" id="opcenito">OPĆENITO</button>
    <button mat-button class="buttonEnableNav"
            id="mojProfilButton"
            [routerLink]="'mojProfil'"
            [routerLinkActiveOptions]="{exact: true}"
            [class.mat-button-toggle-checked]="selectedButton === 'mojProfilButton'"
            [disabled]="selectedButton === 'mojProfilButton'"
            (click)="selectedButton = 'mojProfilButton'">Moj Profil</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga === 'Vlasnik'" mat-button class="buttonEnableNav"
            [routerLink]="'mojiObjekti'"
            [routerLinkActiveOptions]="{exact: true}"
            [class.mat-button-toggle-checked]="selectedButton === 'mojiObjektiButton'"
            [disabled]="selectedButton === 'mojiObjektiButton'"
            (click)="selectedButton = 'mojiObjektiButton'">Moji objekti</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga === 'Vlasnik'" mat-button class="buttonEnableNav"
            [routerLink]="'dodajObjekat'"
            [routerLinkActiveOptions]="{exact: true}"
            [class.mat-button-toggle-checked]="selectedButton === 'dodajObjekatButton'"
            [disabled]="selectedButton === 'dodajObjekatButton'"
            (click)="selectedButton = 'dodajObjekatButton'">Dodaj hotel</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga !== 'Admin'" mat-button class="buttonEnableNav"
            [routerLink]="'mojeRezervacije'"
            [routerLinkActiveOptions]="{exact: true}"
            [class.mat-button-toggle-checked]="selectedButton === 'mojeRezervacijeButton'"
            [disabled]="selectedButton === 'mojeRezervacijeButton'"
            (click)="selectedButton = 'mojeRezervacijeButton'">Moje rezervacije</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga !== 'Admin'" mat-button class="buttonEnableNav"
            [routerLink]="'mojeRecenzije'"
            [routerLinkActiveOptions]="{exact: true}"
            [class.mat-button-toggle-checked]="selectedButton === 'mojeRecenzijeButton'"
            [disabled]="selectedButton === 'mojeRecenzijeButton'"
            (click)="selectedButton = 'mojeRecenzijeButton'">Moje recenzije</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga == 'Gost'" mat-button class="buttonEnableNav"
            [routerLink]="'kreditnaKarticaButton'"
            [routerLinkActiveOptions]="{exact: true}"
            [class.mat-button-toggle-checked]="selectedButton === 'kreditnaKarticaButton'"
            [disabled]="selectedButton === 'kreditnaKarticaButton'"
            (click)="selectedButton = 'kreditnaKarticaButton'">Povežite kreditnu karticu</button>  
    <button *ngIf="ovajKorisnik.korisnik.uloga == 'Admin'" mat-button class="zahtjeviButton"
            [routerLink]="'zahtjeviButton'"
            [routerLinkActiveOptions]="{exact: true}"
            [class.mat-button-toggle-checked]="selectedButton === 'zahtjeviButton'"
            [disabled]="selectedButton === 'zahtjeviButton'"
            (click)="selectedButton = 'zahtjeviButton'">Zahtjevi za odobravanje hotela</button> 
            <br>
            <button mat-button disabled class="sectionName">POSTAVKE</button>
            <button mat-button class="buttonEnableNav" routerLink="promijeniLozinku">Promijeni lozinku</button>
            <button mat-button class="buttonEnableNav" (click)="Logout()">Odjavi se</button>
  </div>
</div>            
    
 -->
