<div class="menu-container">
  <button *ngIf="ovajKorisnik.korisnik.uloga=='Gost'" mat-button (click)="NaLandingPage()">
    <div class="navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" id="goBack">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
      <span>Nazad na početnu stranicu</span>
    </div>
  </button>
  <div class="options">
    <button mat-button disabled class="sectionName" id="opcenito">OPĆENITO</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga=='Vlasnik'" mat-button class="buttonEnableNav" routerLink="mojiObjekti">Moji objekti</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga=='Gost'" mat-button class="buttonEnableNav" routerLink="mojeRezervacije">Moje rezervacije</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga=='Gost'" mat-button class="buttonEnableNav" routerLink="mojeRecenzije">Moje recenzije</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga=='Gost'" mat-button class="buttonEnableNav" routerLink="kreditnaKartica">Povežite kreditnu karticu</button>
    <button *ngIf="ovajKorisnik.korisnik.uloga=='Admin'" mat-button class="buttonEnableNav" routerLink="zahtjevi">Zahtjevi za odobravanje hotela</button>
    <br>
    <button mat-button disabled class="sectionName">POSTAVKE</button>
    <button mat-button class="buttonEnableNav" routerLink="promijeniLozinku">Promijeni lozinku</button>
    <button mat-button class="buttonEnableNav" (click)="Logout()">Odjavi se</button>
  </div>
</div>
<mat-divider [vertical]="true"></mat-divider>
