*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  color:#3A3A3A;
}

html{
  height:100%;
  width:100%
}

body{
  background-color: #E0E0E0;
  height:100%;
}

.menu-container{
  /*background-color: rosybrown;*/
  height:100%;
  width:100%;
  text-align: center;
  padding: 64px 16px;
  display:flex;
  flex-direction:column;
}

.menu-container svg{
  color:#3A3A3A;
  height:24px;
  width:24px;
}

.navigation{
  display:flex;
  gap: 16px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color:#3A3A3A;
  justify-content: center;
  align-items:center;
}

.options{
  margin-top:32px;
  display:flex;
  flex-direction: column;
  color:#3A3A3A;
  align-items:start;
  margin-left:56px;
}

.sectionName{
  font-size:16px;
}

#form-fields-1 mat-form-field, #form-fields-2 mat-form-field{
  width:70%;
  align-items: start;
}

#form-fields-1 label, #form-fields-2 label{
  display: inline-block;
  width:30%;
  font-size: 16px;
}
