.wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--gainsboro);
}

#landingPageImg{
  height: 45%;
  width:100%;
  opacity:90%;
}

.wrapper-form{
  width: 70%;
  margin: -10rem auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#pretraga-form {
  margin-bottom: 2rem;
}

